<header class="navbar-wrapper" [class.scrolled]="isScrolled">
  <div class="navbar-container">

    <!-- DROITE : Navigation -->
    <nav class="navbar-nav">
      <ul>
        <li>
          <a href="#profil">
            <i class="bi bi-person-fill"></i>
            <span>Profil</span>
          </a>
        </li>
        <li>
          <a href="#parcours">
            <i class="bi bi-arrow-up"></i>
            <span>Parcours</span>
          </a>
        </li>
        <li>
          <a href="#competences">
            <i class="bi bi-palette2"></i>
            <span>Compétences</span>
          </a>
        </li>
        <li>
          <a href="#footer">
            <i class="bi bi-chat-dots-fill"></i>
            <span>Contact</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>